.glasspanel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 25vw;
  width: max-content !important;
  height: 40vh !important;
  max-height: 75vh;
  max-width: 80vw;
  transform: translate(-50%, -50%);
  background: var(--glass);
  border: var(--glassborder);
  box-sizing: border-box;
  border-radius: 0.45rem;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(20px);
  z-index: 2;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  position: relative;
  height: max-content;
  width: 100%;
  height: 10vh;
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  color: #fff;
}

.content {
  display: flex;
  justify-content: center;
  padding: 0 2.5rem 0 2.5rem;
  flex-direction: column;

  height: 80%;
  width: max-content;
  max-width: 90%;
}

.input {
  display: flex;
  left: 50%;
  top: 50%;
  padding: 0.5rem;
  text-align: center;
  background-color: white;
}

.field {
  position: relative;
  width: 100%;
}
.iconbox {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0px;
  top: 0px;
  position: absolute;
  height: 100%;
  width: 20% !important;
  color: #f7f3eb;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: all 0.3s ease-out;
  pointer-events: none;
}
::-webkit-input-placeholder {
  color: #ffffffa8;
  font-family: "Open Sans";
}

.form input[type="text"],
input[type="password"] {
  font-family: "Open Sans", Calibri, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  border: none;
  padding: 0.5rem 0 0.5rem 0;
  margin: 0;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  color: rgb(255, 255, 255);
  transition: color 0.3s ease-out;
  width: 100%;
}
.loginbutton {
  margin-top: 15px;
  text-align: center;
  font-size: 1em;
  min-width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding: 12px 0;

  color: #fff;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);

  text-transform: uppercase;
  border: none;

  margin-bottom: 20px;
}
