.app {
  width: 100%;
  height: max-height;
  min-height: 100vh;

  background-image: linear-gradient(
    225deg,
    #07455e 0%,
    #222341 50%,
    #33092f 100%
  );
}
.app > * {
  width: 100%;
}
