:root {
  --expand-duration: 0.35s;
  --minimize-duration: 0.5s;
  --active-delay: 0.6s;
}
.glassbutton {
  position: relative;
  width: 20vh;
  height: 6vh;
  min-width: 150px;
  min-height: 45px;
  display: inline-block;
  text-align: center;
}

.glassbutton a {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  color: rgb(212, 212, 212);
  z-index: 3;
  font-size: calc(12px + 1.25vh);
  font-weight: 600;
  letter-spacing: 1px;
  text-emphasis: none;
  overflow: hidden;
  backdrop-filter: blur(15px);
  transition: color 0.3s linear 0.3s, letter-spacing 0.15s linear 0.25s;
}

.glassbutton a,
.glassbuttonactive a,
.glassbutton,
.glassbuttonactive {
  -webkit-tap-highlight-color: transparent;
}

.glassbuttonactive {
  outline: 0;

  position: relative;
  width: 20vh;
  height: 6vh;
  display: inline-block;
  transition: var(--expand-duration);
}

.glassbutton a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translateX(0);
  transition: var(--minimize-duration);
}

.glassbutton:active a::before {
  transform: skewX(45deg) translateX(200%);
}

.glassbutton::before {
  content: "";
  position: absolute;
  left: 50%;

  top: -10%;
  transform: translateX(-50%);
  width: 30%;
  height: 20%;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  transition: var(--minimize-duration);
  transition-delay: 0s;
}

.glassbutton:active::before {
  top: 10%;
  height: 40%;
  width: 90%;
  border-radius: 30px;
  transition-delay: 0s;
}

.glassbutton::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10%;
  width: 30%;
  height: 20%;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  transition: var(--minimize-duration);
  transition-delay: 0s;
}

.glassbutton:active::after {
  bottom: 10%;
  height: 40%;
  width: 90%;
  border-radius: 30px;
  transition-delay: 0s;
}

.glassbuttonactive a {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  color: black;
  z-index: 3;
  font-size: 2.5vh;

  font-weight: 400;
  letter-spacing: 0.5vh;
  text-emphasis: none;
  overflow: hidden;
  backdrop-filter: blur(15px);
  transition: color 0.15s linear 0.2s, letter-spacing 0.15s linear 0.15s;
}
.glassbuttonactive::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  top: 10%;
  height: 50%;
  width: 95%;
  border-radius: 30px;
  transition: var(--expand-duration);
}
.glassbuttonactive::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  bottom: 10%;
  height: 50%;
  width: 95%;
  border-radius: 30px;
  transition: var(--expand-duration);
}

.red::before,
.red::after {
  background: #f00;
  box-shadow: 0 0 5px #f00, 0 0 15px #f00, 0 0 30px #f00, 0 0 60px #f00;
}

.pink::before,
.pink::after {
  background: #ff1f71;
  box-shadow: 0 0 5px #ff1f71, 0 0 15px #ff1f71, 0 0 30px #ff1f71,
    0 0 60px #ff1f71;
}
.blue::before,
.blue::after {
  background: #2bd2ff;
  box-shadow: 0 0 5px #2bd2ff, 0 0 15px #2bd2ff, 0 0 30px #2bd2ff,
    0 0 60px #2bd2ff;
}

.orange::before,
.orange::after {
  background: #ec5c61;
  box-shadow: 0 0 5px #ec5c61, 0 0 15px #ec5c61, 0 0 30px #ec5c61,
    0 0 60px #ec5c61;
}
.green::before,
.green::after {
  background: #1eff45;
  box-shadow: 0 0 5px #1eff45, 0 0 15px #1eff45, 0 0 30px #1eff45,
    0 0 60px #1eff45;
}
